# Environment variables / secrets
.env

# Python virtual environment
.venv/
venv/
.venv311/

hopsworks_certs/
hopsworks_model_staging/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Generated data
data/processed/*
!data/processed/aqi_features.csv
!data/processed/model_ready_features.csv
!data/processed/splits/

# Generated reports
reports/

# Trained models
# models/  # kept in git for deployment (only 1.2MB)

# OS files
.DS_Store
Thumbs.db